.image_container{
    width:1024px;
    height:400px;
    padding:5px;
    /*border:1px solid gray;*/
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    /*background: #fffddd;*/
    text-align: center;
    z-index: 40;
}
.slider_wrapper{
    overflow: hidden;
    position:relative;
    height:380px;
    top:auto;
}
#image_slider{
    overflow: hidden;
    position: relative;
    height: auto;
    list-style: none;
    float: left;
    padding:0;
    margin:0;
}
#image_slider li{
    position: relative;
    float: left;
}
.navigate{
    position:absolute;
    top: 165px;
    height: 50px;
    width: 30px;
    opacity: 0.5;
}
.navigate:hover{
    opacity: 0.9;
}
#prev{
    background: #ffa687 url('../images/prev.png') no-repeat center;
    left: 0;
}
#next{
    background: #ffa687 url('../images/next.png') no-repeat center;
    right: 0;
}
#pager{
    list-style: none;
    float: left;
    margin-left: 50%;
}

#pager li {
    float: left;
}

#pager li a {
    float: left;
    width: 12px;
    height: 12px;
    line-height: 6px;
    margin-right: 3px;
    text-indent: -9999px;
    background-color: #000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#pager li.activePage a {
    background-color: #ffa687;
}
